*{
    margin: 0;
    padding: 0%;
    
}
.container{
    height:2200px;
    width: auto;
    background-color: antiquewhite;
}
#box{
    background-color: white;
    height: 1800px;
    width: 1000px;
   position: relative;
   left: 250px;
   right: 250px;
   top: 120px;
   border-radius: 20px;
   

}
img{
    border-radius: 20px;
    width: 925px;
    height: 500px;
    position: relative;
    top: 40px;
    right: 30px;
    left: 37px;
}
#heading{
    text-transform: capitalize;
    
    font-size: 50px;
    position: relative;
    top: 70px;
    left: 30px;
    
    
}
#heading1{
   position: relative;
   width: 925px;
   top: 90px;
   left: 35px;
    font-weight: 100;
   font-size: 20px;
}
.box2 {
      background-color: rgb(227, 216, 230);
      height: 150px;
      width: 925px;
      position: relative;
      top: 140px;
      left: 30px;
      border-radius: 20px;
}
.box2 h4{
    position: relative;
    left: 25px;
    font-size: 25px;
    top: 20px;
    color: rgb(160, 19, 160);
}
.para{
    position: relative;
    top: 30px;
    left: 60px;
    line-height: 25px;

}
.box3{
    
}
.heading2{
    position: relative;
    top: 160px;
    left: 52px;
    color: orangered;
}
.para2{
    position: relative;
    top: 170px;
    left: 82px;
    line-height: 35px;
    font-size: 20px;
}
.box4{

}
.heading3{
    position: relative;
    top: 180px;
    left: 55px;
    color: orangered;

}
.para3{
    position: relative;
    top: 190px;
    left: 62px;
    line-height: 30px;
    font-size: 20px;

}
.box5{
    position: relative;
    top: 220px;
    left: 50px;
}
.heading4{
    color: orangered;

}
.para4{
    position: relative;
    top: 30px;
    font-size: 20px;
}
.lastleft{
    position: relative;
    left: 200px;
    top: 270px;
    
}

.lastleft ul{
     text-decoration: none;
     text-transform: capitalize;
     line-height: 30px;
     list-style-type: none;

}
.lastright{
    position: relative;
    left: 500px;
    top: 150px;
    
}
.lastright ul{
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    color: orangered;
    justify-content: flex-end;
    list-style: none;
}
hr{
    width: 40%;
}