body{
    margin: 0;
    padding: 0;
    
}
.container{
    background: rgb(166, 113, 8);
    width: 1200px;
    height: 600px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px;
    
}
.background{
    background: white;
    width: 400px;
    height: 520px;
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: 410px;
    border-color: black ;
    box-shadow: 10px 10px;



}
.background img{
    position: relative;
    left: 30px;
    top: 25px;
    border-radius: 20px;
}
.learning{
    
    width: 90px;
    height: 27px;
    background-color:rgb(166, 113, 8) ;
    position: relative;
    left: 30px;
    top: 20px;
    border-radius: 2px;
}
    

.learning p{
    font-weight: bold;
    position: relative;
    left: 15px;
    top: 4px;
}
.content{
    position: relative;
    left: 30px;
}
.content .p1{
    position: relative;
    top: 20px;
    font-weight: 100;

}
.h1{
    position: relative;
    top: 20px;
    font-size:30PX;
}
.p2{
    font-weight:100;
    position: relative;
    top: 20px;
    
}
.img2{
   position: relative;
   left: -40px; 
   height: 5px;
   width: 5px;
}
.h4{
    position: relative;
    top: 15px;
    left: 80px;
}